<div class="flex flex-col mb-[20px]">
  <div class="select-none">
    <div class="flex justify-center items-center bg-gradient-to-r from-violet-500 to-fuchsia-500 py-[10px] text-white font-bold cursor-pointer hover:text-black" id="browseBtn"><span class="material-symbols-outlined" id="btnIcon">expand_more</span>Browse Categories</div>
    <div class="hidden" id="categories">
      <ul class="bg-gray-100 border-b-[2px] border-gray-200 flex flex-row flex-wrap p-[20px] font-bold text-[20px]">
        <% categoryNames.forEach(category => { %>
        <a href="/c/<%- category.url %>">
          <li class="py-[5px] px-[10px] bg-white w-fit rounded-md border-[2px] border-gray-300 mx-[10px] hover:bg-violet-600 hover:text-white hover:border-black cursor-pointer"><%- category.name %></li>
        </a>
        <% }) %>
      </ul>
    </div>
  </div>
  <% categories.forEach(category => { %>
  <div class="mx-[20px] mt-[20px] flex flex-row items-center justify-between">
    <span class="text-[20px] font-semibold whitespace-nowrap"><%- category.name %></span>
    <div class="w-full h-[3px] bg-gray-100 rounded-full mx-[10px]"></div>
    <a href="/c/<%- category.name %>"><button class="px-[20px] py-[10px] w-fit text-white bg-violet-800 hover:bg-violet-900 font-semibold rounded-md mr-[10px]">More...</button></a>
  </div>
  <div class="flex flex-row">
    <% category.topics.forEach(topic => { %>
    <a href="/t/<%- topic.url %>" class="w-[200px] h-[300px] my-[10px] mx-[20px]">
      <div class="w-full h-full bg-gray-50 border-[1px] border-gray-400 rounded-md p-[10px] flex flex-col items-center hover:bg-gray-200 hover:border-black cursor-pointer">
        <div class="w-[180px] h-[180px] rounded-md overflow-hidden mb-[10px] border-[1px] border-black bg-white">
          <img src="<%- topic.image %>" alt="topicImage" class="w-full h-full object-cover">
        </div>
        <h1 class="font-bold text-[20px] mb-[10px]"><%- topic.name %></h1>
        <div class="line-clamp-2 text-gray-700"><%- topic.description %></div>
      </div>
    </a>
    <% }) %>
  </div>
  <% }) %>
</div>